#main-menu{
	background: var(--highlight-background);
}
#main-menu.active{
	z-index: 100;
	box-shadow: 0 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
}
.main-menu{
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
	font-size: 1.2em;
}

.main-menu-toggle{
	font-size: 1.4em;
	justify-self: flex-end;
}
