.slide-button{
	width: 2em;
	height: 2em;
	font-size: 1.6em;
	position: absolute;
	top: 50%;
	z-index: 5;
}
.slide-button.back{
	left: 0%;
	transform: translate(50%,-50%);
}
.slide-button.next{
	right: 0;
	transform: translate(-50%,-50%);
}