


.main-slide-list{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	transition: transform 2s;
	transform: translate(calc(-50% - 100% * var(--index,0)),-50%);
}
.main-slide-item-thumbnail{
	border-radius: 1rem;
}
.main-slide-buttons,
.main-slide-indicators{
	transition: opacity 0.5s;
	opacity: 0;
}


.main-slide:hover .main-slide-buttons,
.main-slide:hover .main-slide-indicators{
	opacity: 1;
}