.button{
    background: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}
.button.disabled,
.button:disabled{
    cursor: auto !important;
    pointer-events: none !important;
    opacity: 0.4 !important;
}
.button:not(.disabled),
.button:not(:disabled){
	cursor: pointer;
	pointer-events: auto;
}
.button:not(.disabled):active,
.button:not(:disabled):active{
    opacity: 0.8;
}

.circle-btn{
    border-radius: 1000rem;
    position: relative;
    background: #fff;
    transition: background 0.3s;
    border: 0.05em solid rgba(0, 0, 0, 0.1);
}
.circle-btn:active{
    background: rgba(0, 0, 0, 0.03);
}
.square-btn{
    border-radius: 0.5em;
    position: relative;
    background: #fff;
    transition: background 0.3s;
    border: 0.05em solid rgba(0, 0, 0, 0.1);
}
.square-btn:active{
    background: rgba(0, 0, 0, 0.03);
}