.link{
    background: transparent;
    text-decoration: none;
    transition: opacity 0.3s;
    color: #000;
}
.link:not(.disabled):hover,
.link:not(:disabled):hover,
.link:not(.disabled):active,
.link:not(:disabled):active{
    color: #fd2704;
}


.link:not(.disabled),
.link:not(:disabled){
	cursor: pointer;
	pointer-events: auto;
}
.link:not(.disabled):active,
.link:not(:disabled):active{
    opacity: 0.6;
}
