.rating-star{
	color: #aaa;
}
.rating-star-icon{
	width: auto;
}
.rating-star-view{
	color: #ffe003;
}
.rating-star-progress{
	overflow: hidden;
	color: #ff0;
	transition: clip-path 0.5s linear;
	clip-path: polygon(0% 0%,0% 100%,calc(var(--progress,0)*1%) 100%,calc(var(--progress,0)*1%) 0%);
}