.rating-star{
	color: var(--primary-color-active);
}
.rating-star-icon{
	width: auto;
}
.rating-star-view{
	opacity: 0.8;
}
.rating-star-progress{
	overflow: hidden;
	opacity: 1;
	transition: clip-path 0.5s linear;
	clip-path: polygon(0% 0%,0% 100%,calc(var(--progress,0)*1%) 100%,calc(var(--progress,0)*1%) 0%);
}