#main-menu{
	z-index: 10;
	background: #fd2704;

}
.main-menu{
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
}
.main-menu-content{
	display: flex;
	padding: 0;
	width: 100%;
	justify-content: space-around;
}
.main-menu-brand{
	border-right: 1px solid #fff;
}
.main-menu-item{
	z-index: 10;
}
.main-menu-button{
	color: #fff;
	position: relative;
}
.main-menu-button:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	height: 0.3rem;
	border-radius: 1000rem;
	background: currentColor;
	transition: width 0.5s,opacity 0.5s,color 0.5s;
	transform: translateX(-50%);
	opacity: 0;
}
.main-menu-button:hover{
	color: #fac100;
}
.main-menu-button.active{
	color: #fac100;
}
.main-menu-button.active:before{
	width: 100%;
	opacity: 1;
}
.main-menu-dropdown{
	border-radius: 0.5rem;
	background: #fff;
	z-index: 10;
	box-shadow: 0 0 0 0.15rem rgba(250, 193, 04, 0.6);
}
.main-menu-dropdown-button{
	color: #000;
	white-space: nowrap;
}
.main-menu-dropdown-button:before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 0.2rem;
	height: 0%;
	border-radius: 1000rem;
	background: currentColor;
	transition: height 0.5s,opacity 0.5s,color 0.5s;	
	opacity: 0;
	transform: translateY(-50%);
}
.main-menu-dropdown-button:hover{
	color: #fac100;
	border-radius: 0.2rem;
	background: rgba(0, 0, 0, 0.05);
}
.main-menu-dropdown-button:hover:before{
	height: 100%;
	opacity: 1;
}