.thumbnail{
	display: flex;
	width: 100%;
	position: relative;
}
.thumbnail-container{
	width: 100%;
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
}
.thumbnail-container.square{
	padding-top: 100%;

}
.thumbnail-container.rectangle{
	padding-top: 50%;
}
.thumbnail-container.circle{
	padding-top: 100%;
	border-radius: 100%;
}
.thumbnail-content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.25s;
}
.thumbnail-content.load{
	opacity: 1;
}

.thumbnail .loading{
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}