
.w-0pt{width                       :0%}
.w-1pt{width                       :10%}
.w-2pt{width                       :20%}
.w-3pt{width                       :30%}
.w-4pt{width                       :40%}
.w-5pt{width                       :50%}
.w-6pt{width                       :60%}
.w-7pt{width                       :70%}
.w-8pt{width                       :80%}
.w-9pt{width                       :90%}
.w-10pt{width                      :100%}

@media (min-width                  : 576px) {
.w-sm-0pt{width                    :0%}
.w-sm-1pt{width                    :10%}
.w-sm-2pt{width                    :20%}
.w-sm-3pt{width                    :30%}
.w-sm-4pt{width                    :40%}
.w-sm-5pt{width                    :50%}
.w-sm-6pt{width                    :60%}
.w-sm-7pt{width                    :70%}
.w-sm-8pt{width                    :80%}
.w-sm-9pt{width                    :90%}
.w-sm-10pt{width                   :100%}
}
@media (min-width                  : 768px) {
.w-md-0pt{width                    :0%}
.w-md-1pt{width                    :10%}
.w-md-2pt{width                    :20%}
.w-md-3pt{width                    :30%}
.w-md-4pt{width                    :40%}
.w-md-5pt{width                    :50%}
.w-md-6pt{width                    :60%}
.w-md-7pt{width                    :70%}
.w-md-8pt{width                    :80%}
.w-md-9pt{width                    :90%}
.w-md-10pt{width                   :100%}
}
@media (min-width                  : 992px) {
.w-lg-0pt{width                    :0%}
.w-lg-1pt{width                    :10%}
.w-lg-2pt{width                    :20%}
.w-lg-3pt{width                    :30%}
.w-lg-4pt{width                    :40%}
.w-lg-5pt{width                    :50%}
.w-lg-6pt{width                    :60%}
.w-lg-7pt{width                    :70%}
.w-lg-8pt{width                    :80%}
.w-lg-9pt{width                    :90%}
.w-lg-10pt{width                   :100%}
}
@media (min-width                  : 1200px) {
.w-xl-0pt{width                    :0%}
.w-xl-1pt{width                    :10%}
.w-xl-2pt{width                    :20%}
.w-xl-3pt{width                    :30%}
.w-xl-4pt{width                    :40%}
.w-xl-5pt{width                    :50%}
.w-xl-6pt{width                    :60%}
.w-xl-7pt{width                    :70%}
.w-xl-8pt{width                    :80%}
.w-xl-9pt{width                    :90%}
.w-xl-10pt{width                   :100%}
}
@media (min-width                  : 1400px) {
.w-xxl-0pt{width                   :0%}
.w-xxl-1pt{width                   :10%}
.w-xxl-2pt{width                   :20%}
.w-xxl-3pt{width                   :30%}
.w-xxl-4pt{width                   :40%}
.w-xxl-5pt{width                   :50%}
.w-xxl-6pt{width                   :60%}
.w-xxl-7pt{width                   :70%}
.w-xxl-8pt{width                   :80%}
.w-xxl-9pt{width                   :90%}
.w-xxl-10pt{width                  :100%}
}

.w-max-content{width               : max-content;}
.w-min-content{width               : min-content;}
.w-fit-content{width               : fit-content;}
.min-w-max-content{min-width       : max-content;}
.min-w-min-content{min-width       : min-content;}
.min-w-fit-content{min-width       : fit-content;}
.max-w-max-content{max-width       : max-content;}
.max-w-min-content{max-width       : min-content;}
.max-w-fit-content{max-width       : fit-content;}

@media (min-width                  : 576px) {
.w-sm-max-content{width            : max-content;}
.w-sm-min-content{width            : min-content;}
.w-sm-fit-content{width            : fit-content;}
.min-w-sm-max-content{min-width    : max-content;}
.min-w-sm-min-content{min-width    : min-content;}
.min-w-sm-fit-content{min-width    : fit-content;}
.max-w-sm-max-content{max-width    : max-content;}
.max-w-sm-min-content{max-width    : min-content;}
.max-w-sm-fit-content{max-width    : fit-content;}
}
@media (min-width                  : 768px) {
.w-md-max-content{width            : max-content;}
.w-md-min-content{width            : min-content;}
.w-md-fit-content{width            : fit-content;}
.min-w-md-max-content{min-width    : max-content;}
.min-w-md-min-content{min-width    : min-content;}
.min-w-md-fit-content{min-width    : fit-content;}
.max-w-md-max-content{max-width    : max-content;}
.max-w-md-min-content{max-width    : min-content;}
.max-w-md-fit-content{max-width    : fit-content;}
}
@media (min-width                  : 992px) {
.w-lg-max-content{width            : max-content;}
.w-lg-min-content{width            : min-content;}
.w-lg-fit-content{width            : fit-content;}
.min-w-lg-max-content{min-width    : max-content;}
.min-w-lg-min-content{min-width    : min-content;}
.min-w-lg-fit-content{min-width    : fit-content;}
.max-w-lg-max-content{max-width    : max-content;}
.max-w-lg-min-content{max-width    : min-content;}
.max-w-lg-fit-content{max-width    : fit-content;}
}
@media (min-width                  : 1200px) {
.w-xl-max-content{width            : max-content;}
.w-xl-min-content{width            : min-content;}
.w-xl-fit-content{width            : fit-content;}
.min-w-xl-max-content{min-width    : max-content;}
.min-w-xl-min-content{min-width    : min-content;}
.min-w-xl-fit-content{min-width    : fit-content;}
.max-w-xl-max-content{max-width    : max-content;}
.max-w-xl-min-content{max-width    : min-content;}
.max-w-xl-fit-content{max-width    : fit-content;}
}
@media (min-width                  : 1400px) {
.w-xxl-max-content{width           : max-content;}
.w-xxl-min-content{width           : min-content;}
.w-xxl-fit-content{width           : fit-content;}
.min-w-xxl-max-content{min-width   : max-content;}
.min-w-xxl-min-content{min-width   : min-content;}
.min-w-xxl-fit-content{min-width   : fit-content;}
.max-w-xxl-max-content{max-width   : max-content;}
.max-w-xxl-min-content{max-width   : min-content;}
.max-w-xxl-fit-content{max-width   : fit-content;}
}
.w-0{width                     : calc((0/12)*100%)}
.w-1{width                     : calc((1/12)*100%)}
.w-2{width                     : calc((2/12)*100%)}
.w-3{width                     : calc((3/12)*100%)}
.w-4{width                     : calc((4/12)*100%)}
.w-5{width                     : calc((5/12)*100%)}
.w-6{width                     : calc((6/12)*100%)}
.w-7{width                     : calc((7/12)*100%)}
.w-8{width                     : calc((8/12)*100%)}
.w-9{width                     : calc((9/12)*100%)}
.w-10{width                    : calc((10/12)*100%)}
.w-11{width                    : calc((11/12)*100%)}
.w-12{width                    : calc((12/12)*100%)}
.w-max-0{max-width                 : calc((0/12)*100%)}
.w-max-1{max-width                 : calc((1/12)*100%)}
.w-max-2{max-width                 : calc((2/12)*100%)}
.w-max-3{max-width                 : calc((3/12)*100%)}
.w-max-4{max-width                 : calc((4/12)*100%)}
.w-max-5{max-width                 : calc((5/12)*100%)}
.w-max-6{max-width                 : calc((6/12)*100%)}
.w-max-7{max-width                 : calc((7/12)*100%)}
.w-max-8{max-width                 : calc((8/12)*100%)}
.w-max-9{max-width                 : calc((9/12)*100%)}
.w-max-10{max-width                : calc((10/12)*100%)}
.w-max-11{max-width                : calc((11/12)*100%)}
.w-max-12{max-width                : calc((12/12)*100%)}
.w-min-0{min-width                 : calc((0/12)*100%)}
.w-min-1{min-width                 : calc((1/12)*100%)}
.w-min-2{min-width                 : calc((2/12)*100%)}
.w-min-3{min-width                 : calc((3/12)*100%)}
.w-min-4{min-width                 : calc((4/12)*100%)}
.w-min-5{min-width                 : calc((5/12)*100%)}
.w-min-6{min-width                 : calc((6/12)*100%)}
.w-min-7{min-width                 : calc((7/12)*100%)}
.w-min-8{min-width                 : calc((8/12)*100%)}
.w-min-9{min-width                 : calc((9/12)*100%)}
.w-min-10{min-width                : calc((10/12)*100%)}
.w-min-11{min-width                : calc((11/12)*100%)}
.w-min-12{min-width                : calc((12/12)*100%)}

@media (min-width                  : 576px) {
.w-sm-0{width                  : calc((0/12)*100%)}
.w-sm-1{width                  : calc((1/12)*100%)}
.w-sm-2{width                  : calc((2/12)*100%)}
.w-sm-3{width                  : calc((3/12)*100%)}
.w-sm-4{width                  : calc((4/12)*100%)}
.w-sm-5{width                  : calc((5/12)*100%)}
.w-sm-6{width                  : calc((6/12)*100%)}
.w-sm-7{width                  : calc((7/12)*100%)}
.w-sm-8{width                  : calc((8/12)*100%)}
.w-sm-9{width                  : calc((9/12)*100%)}
.w-sm-10{width                 : calc((10/12)*100%)}
.w-sm-11{width                 : calc((11/12)*100%)}
.w-sm-12{width                 : calc((12/12)*100%)}
.w-sm-max-0{max-width              : calc((0/12)*100%)}
.w-sm-max-1{max-width              : calc((1/12)*100%)}
.w-sm-max-2{max-width              : calc((2/12)*100%)}
.w-sm-max-3{max-width              : calc((3/12)*100%)}
.w-sm-max-4{max-width              : calc((4/12)*100%)}
.w-sm-max-5{max-width              : calc((5/12)*100%)}
.w-sm-max-6{max-width              : calc((6/12)*100%)}
.w-sm-max-7{max-width              : calc((7/12)*100%)}
.w-sm-max-8{max-width              : calc((8/12)*100%)}
.w-sm-max-9{max-width              : calc((9/12)*100%)}
.w-sm-max-10{max-width             : calc((10/12)*100%)}
.w-sm-max-11{max-width             : calc((11/12)*100%)}
.w-sm-max-12{max-width             : calc((12/12)*100%)}
.w-sm-min-0{min-width              : calc((0/12)*100%)}
.w-sm-min-1{min-width              : calc((1/12)*100%)}
.w-sm-min-2{min-width              : calc((2/12)*100%)}
.w-sm-min-3{min-width              : calc((3/12)*100%)}
.w-sm-min-4{min-width              : calc((4/12)*100%)}
.w-sm-min-5{min-width              : calc((5/12)*100%)}
.w-sm-min-6{min-width              : calc((6/12)*100%)}
.w-sm-min-7{min-width              : calc((7/12)*100%)}
.w-sm-min-8{min-width              : calc((8/12)*100%)}
.w-sm-min-9{min-width              : calc((9/12)*100%)}
.w-sm-min-10{min-width             : calc((10/12)*100%)}
.w-sm-min-11{min-width             : calc((11/12)*100%)}
.w-sm-min-12{min-width             : calc((12/12)*100%)}
}
@media (min-width                  : 768px) {
.w-md-max-0{max-width              : calc((0/12)*100%)}
.w-md-1{width                  : calc((1/12)*100%)}
.w-md-2{width                  : calc((2/12)*100%)}
.w-md-3{width                  : calc((3/12)*100%)}
.w-md-4{width                  : calc((4/12)*100%)}
.w-md-5{width                  : calc((5/12)*100%)}
.w-md-6{width                  : calc((6/12)*100%)}
.w-md-7{width                  : calc((7/12)*100%)}
.w-md-8{width                  : calc((8/12)*100%)}
.w-md-9{width                  : calc((9/12)*100%)}
.w-md-10{width                 : calc((10/12)*100%)}
.w-md-11{width                 : calc((11/12)*100%)}
.w-md-12{width                 : calc((12/12)*100%)}
.w-md-max-0{max-width              : calc((0/12)*100%)}
.w-md-max-1{max-width              : calc((1/12)*100%)}
.w-md-max-2{max-width              : calc((2/12)*100%)}
.w-md-max-3{max-width              : calc((3/12)*100%)}
.w-md-max-4{max-width              : calc((4/12)*100%)}
.w-md-max-5{max-width              : calc((5/12)*100%)}
.w-md-max-6{max-width              : calc((6/12)*100%)}
.w-md-max-7{max-width              : calc((7/12)*100%)}
.w-md-max-8{max-width              : calc((8/12)*100%)}
.w-md-max-9{max-width              : calc((9/12)*100%)}
.w-md-max-10{max-width             : calc((10/12)*100%)}
.w-md-max-11{max-width             : calc((11/12)*100%)}
.w-md-max-12{max-width             : calc((12/12)*100%)}
.w-md-min-0{min-width              : calc((0/12)*100%)}
.w-md-min-1{min-width              : calc((1/12)*100%)}
.w-md-min-2{min-width              : calc((2/12)*100%)}
.w-md-min-3{min-width              : calc((3/12)*100%)}
.w-md-min-4{min-width              : calc((4/12)*100%)}
.w-md-min-5{min-width              : calc((5/12)*100%)}
.w-md-min-6{min-width              : calc((6/12)*100%)}
.w-md-min-7{min-width              : calc((7/12)*100%)}
.w-md-min-8{min-width              : calc((8/12)*100%)}
.w-md-min-9{min-width              : calc((9/12)*100%)}
.w-md-min-10{min-width             : calc((10/12)*100%)}
.w-md-min-11{min-width             : calc((11/12)*100%)}
.w-md-min-12{min-width             : calc((12/12)*100%)}
}
@media (min-width                  : 992px) {
.w-lg-0{width                  : calc((0/12)*100%)}
.w-lg-1{width                  : calc((1/12)*100%)}
.w-lg-2{width                  : calc((2/12)*100%)}
.w-lg-3{width                  : calc((3/12)*100%)}
.w-lg-4{width                  : calc((4/12)*100%)}
.w-lg-5{width                  : calc((5/12)*100%)}
.w-lg-6{width                  : calc((6/12)*100%)}
.w-lg-7{width                  : calc((7/12)*100%)}
.w-lg-8{width                  : calc((8/12)*100%)}
.w-lg-9{width                  : calc((9/12)*100%)}
.w-lg-10{width                 : calc((10/12)*100%)}
.w-lg-11{width                 : calc((11/12)*100%)}
.w-lg-12{width                 : calc((12/12)*100%)}
.w-lg-max-0{max-width              : calc((0/12)*100%)}
.w-lg-max-1{max-width              : calc((1/12)*100%)}
.w-lg-max-2{max-width              : calc((2/12)*100%)}
.w-lg-max-3{max-width              : calc((3/12)*100%)}
.w-lg-max-4{max-width              : calc((4/12)*100%)}
.w-lg-max-5{max-width              : calc((5/12)*100%)}
.w-lg-max-6{max-width              : calc((6/12)*100%)}
.w-lg-max-7{max-width              : calc((7/12)*100%)}
.w-lg-max-8{max-width              : calc((8/12)*100%)}
.w-lg-max-9{max-width              : calc((9/12)*100%)}
.w-lg-max-10{max-width             : calc((10/12)*100%)}
.w-lg-max-11{max-width             : calc((11/12)*100%)}
.w-lg-max-12{max-width             : calc((12/12)*100%)}
.w-lg-min-0{min-width              : calc((0/12)*100%)}
.w-lg-min-1{min-width              : calc((1/12)*100%)}
.w-lg-min-2{min-width              : calc((2/12)*100%)}
.w-lg-min-3{min-width              : calc((3/12)*100%)}
.w-lg-min-4{min-width              : calc((4/12)*100%)}
.w-lg-min-5{min-width              : calc((5/12)*100%)}
.w-lg-min-6{min-width              : calc((6/12)*100%)}
.w-lg-min-7{min-width              : calc((7/12)*100%)}
.w-lg-min-8{min-width              : calc((8/12)*100%)}
.w-lg-min-9{min-width              : calc((9/12)*100%)}
.w-lg-min-10{min-width             : calc((10/12)*100%)}
.w-lg-min-11{min-width             : calc((11/12)*100%)}
.w-lg-min-12{min-width             : calc((12/12)*100%)}
}
@media (min-width                  : 1200px) {
.w-xl-0{width                  : calc((0/12)*100%)}
.w-xl-1{width                  : calc((1/12)*100%)}
.w-xl-2{width                  : calc((2/12)*100%)}
.w-xl-3{width                  : calc((3/12)*100%)}
.w-xl-4{width                  : calc((4/12)*100%)}
.w-xl-5{width                  : calc((5/12)*100%)}
.w-xl-6{width                  : calc((6/12)*100%)}
.w-xl-7{width                  : calc((7/12)*100%)}
.w-xl-8{width                  : calc((8/12)*100%)}
.w-xl-9{width                  : calc((9/12)*100%)}
.w-xl-10{width                 : calc((10/12)*100%)}
.w-xl-11{width                 : calc((11/12)*100%)}
.w-xl-12{width                 : calc((12/12)*100%)}
.w-xl-max-0{max-width              : calc((0/12)*100%)}
.w-xl-max-1{max-width              : calc((1/12)*100%)}
.w-xl-max-2{max-width              : calc((2/12)*100%)}
.w-xl-max-3{max-width              : calc((3/12)*100%)}
.w-xl-max-4{max-width              : calc((4/12)*100%)}
.w-xl-max-5{max-width              : calc((5/12)*100%)}
.w-xl-max-6{max-width              : calc((6/12)*100%)}
.w-xl-max-7{max-width              : calc((7/12)*100%)}
.w-xl-max-8{max-width              : calc((8/12)*100%)}
.w-xl-max-9{max-width              : calc((9/12)*100%)}
.w-xl-max-10{max-width             : calc((10/12)*100%)}
.w-xl-max-11{max-width             : calc((11/12)*100%)}
.w-xl-max-12{max-width             : calc((12/12)*100%)}
.w-xl-min-0{min-width              : calc((0/12)*100%)}
.w-xl-min-1{min-width              : calc((1/12)*100%)}
.w-xl-min-2{min-width              : calc((2/12)*100%)}
.w-xl-min-3{min-width              : calc((3/12)*100%)}
.w-xl-min-4{min-width              : calc((4/12)*100%)}
.w-xl-min-5{min-width              : calc((5/12)*100%)}
.w-xl-min-6{min-width              : calc((6/12)*100%)}
.w-xl-min-7{min-width              : calc((7/12)*100%)}
.w-xl-min-8{min-width              : calc((8/12)*100%)}
.w-xl-min-9{min-width              : calc((9/12)*100%)}
.w-xl-min-10{min-width             : calc((10/12)*100%)}
.w-xl-min-11{min-width             : calc((11/12)*100%)}
.w-xl-min-12{min-width             : calc((12/12)*100%)}
}
@media (min-width                  : 1400px) {
.w-xxl-0{width                 : calc((0/12)*100%)}
.w-xxl-1{width                 : calc((1/12)*100%)}
.w-xxl-2{width                 : calc((2/12)*100%)}
.w-xxl-3{width                 : calc((3/12)*100%)}
.w-xxl-4{width                 : calc((4/12)*100%)}
.w-xxl-5{width                 : calc((5/12)*100%)}
.w-xxl-6{width                 : calc((6/12)*100%)}
.w-xxl-7{width                 : calc((7/12)*100%)}
.w-xxl-8{width                 : calc((8/12)*100%)}
.w-xxl-9{width                 : calc((9/12)*100%)}
.w-xxl-10{width                : calc((10/12)*100%)}
.w-xxl-11{width                : calc((11/12)*100%)}
.w-xxl-12{width                : calc((12/12)*100%)}
.w-xxl-max-0{max-width             : calc((0/12)*100%)}
.w-xxl-max-1{max-width             : calc((1/12)*100%)}
.w-xxl-max-2{max-width             : calc((2/12)*100%)}
.w-xxl-max-3{max-width             : calc((3/12)*100%)}
.w-xxl-max-4{max-width             : calc((4/12)*100%)}
.w-xxl-max-5{max-width             : calc((5/12)*100%)}
.w-xxl-max-6{max-width             : calc((6/12)*100%)}
.w-xxl-max-7{max-width             : calc((7/12)*100%)}
.w-xxl-max-8{max-width             : calc((8/12)*100%)}
.w-xxl-max-9{max-width             : calc((9/12)*100%)}
.w-xxl-max-10{max-width            : calc((10/12)*100%)}
.w-xxl-max-11{max-width            : calc((11/12)*100%)}
.w-xxl-max-12{max-width            : calc((12/12)*100%)}
.w-xxl-min-0{min-width             : calc((0/12)*100%)}
.w-xxl-min-1{min-width             : calc((1/12)*100%)}
.w-xxl-min-2{min-width             : calc((2/12)*100%)}
.w-xxl-min-3{min-width             : calc((3/12)*100%)}
.w-xxl-min-4{min-width             : calc((4/12)*100%)}
.w-xxl-min-5{min-width             : calc((5/12)*100%)}
.w-xxl-min-6{min-width             : calc((6/12)*100%)}
.w-xxl-min-7{min-width             : calc((7/12)*100%)}
.w-xxl-min-8{min-width             : calc((8/12)*100%)}
.w-xxl-min-9{min-width             : calc((9/12)*100%)}
.w-xxl-min-10{min-width            : calc((10/12)*100%)}
.w-xxl-min-11{min-width            : calc((11/12)*100%)}
.w-xxl-min-12{min-width            : calc((12/12)*100%)}
}


.w-0em{width: 0em}
.w-1em{width: 0.1em}
.w-2em{width: 0.2em}
.w-3em{width: 0.3em}
.w-4em{width: 0.4em}
.w-5em{width: 0.5em}
.w-6em{width: 0.6em}
.w-7em{width: 0.7em}
.w-8em{width: 0.8em}
.w-9em{width: 0.9em}
.w-10em{width: 1em}
.w-11em{width: 1.1em}
.w-12em{width: 1.2em}
.w-13em{width: 1.3em}
.w-14em{width: 1.4em}
.w-15em{width: 1.5em}
.w-16em{width: 1.6em}
.w-17em{width: 1.7em}
.w-18em{width: 1.8em}
.w-19em{width: 1.9em}
.w-20em{width: 2em}
.w-21em{width: 2.1em}
.w-22em{width: 2.2em}
.w-23em{width: 2.3em}
.w-24em{width: 2.4em}
.w-25em{width: 2.5em}
.w-26em{width: 2.6em}
.w-27em{width: 2.7em}
.w-28em{width: 2.8em}
.w-29em{width: 2.9em}
.w-30em{width: 3em}
.w-31em{width: 3.1em}
.w-32em{width: 3.2em}
.w-33em{width: 3.3em}
.w-34em{width: 3.4em}
.w-35em{width: 3.5em}
.w-36em{width: 3.6em}
.w-37em{width: 3.7em}
.w-38em{width: 3.8em}
.w-39em{width: 3.9em}
.w-40em{width: 4em}
.w-41em{width: 4.1em}
.w-42em{width: 4.2em}
.w-43em{width: 4.3em}
.w-44em{width: 4.4em}
.w-45em{width: 4.5em}
.w-46em{width: 4.6em}
.w-47em{width: 4.7em}
.w-48em{width: 4.8em}
.w-49em{width: 4.9em}
.w-50em{width: 5em}

@media (min-width: 576px) {
.w-sm-0em{width: 0em}
.w-sm-1em{width: 0.1em}
.w-sm-2em{width: 0.2em}
.w-sm-3em{width: 0.3em}
.w-sm-4em{width: 0.4em}
.w-sm-5em{width: 0.5em}
.w-sm-6em{width: 0.6em}
.w-sm-7em{width: 0.7em}
.w-sm-8em{width: 0.8em}
.w-sm-9em{width: 0.9em}
.w-sm-10em{width: 1em}
.w-sm-11em{width: 1.1em}
.w-sm-12em{width: 1.2em}
.w-sm-13em{width: 1.3em}
.w-sm-14em{width: 1.4em}
.w-sm-15em{width: 1.5em}
.w-sm-16em{width: 1.6em}
.w-sm-17em{width: 1.7em}
.w-sm-18em{width: 1.8em}
.w-sm-19em{width: 1.9em}
.w-sm-20em{width: 2em}
.w-sm-21em{width: 2.1em}
.w-sm-22em{width: 2.2em}
.w-sm-23em{width: 2.3em}
.w-sm-24em{width: 2.4em}
.w-sm-25em{width: 2.5em}
.w-sm-26em{width: 2.6em}
.w-sm-27em{width: 2.7em}
.w-sm-28em{width: 2.8em}
.w-sm-29em{width: 2.9em}
.w-sm-30em{width: 3em}
.w-sm-31em{width: 3.1em}
.w-sm-32em{width: 3.2em}
.w-sm-33em{width: 3.3em}
.w-sm-34em{width: 3.4em}
.w-sm-35em{width: 3.5em}
.w-sm-36em{width: 3.6em}
.w-sm-37em{width: 3.7em}
.w-sm-38em{width: 3.8em}
.w-sm-39em{width: 3.9em}
.w-sm-40em{width: 4em}
.w-sm-41em{width: 4.1em}
.w-sm-42em{width: 4.2em}
.w-sm-43em{width: 4.3em}
.w-sm-44em{width: 4.4em}
.w-sm-45em{width: 4.5em}
.w-sm-46em{width: 4.6em}
.w-sm-47em{width: 4.7em}
.w-sm-48em{width: 4.8em}
.w-sm-49em{width: 4.9em}
.w-sm-50em{width: 5em}
}
@media (min-width: 768px) {
.w-md-0em{width: 0em}
.w-md-1em{width: 0.1em}
.w-md-2em{width: 0.2em}
.w-md-3em{width: 0.3em}
.w-md-4em{width: 0.4em}
.w-md-5em{width: 0.5em}
.w-md-6em{width: 0.6em}
.w-md-7em{width: 0.7em}
.w-md-8em{width: 0.8em}
.w-md-9em{width: 0.9em}
.w-md-10em{width: 1em}
.w-md-11em{width: 1.1em}
.w-md-12em{width: 1.2em}
.w-md-13em{width: 1.3em}
.w-md-14em{width: 1.4em}
.w-md-15em{width: 1.5em}
.w-md-16em{width: 1.6em}
.w-md-17em{width: 1.7em}
.w-md-18em{width: 1.8em}
.w-md-19em{width: 1.9em}
.w-md-20em{width: 2em}
.w-md-21em{width: 2.1em}
.w-md-22em{width: 2.2em}
.w-md-23em{width: 2.3em}
.w-md-24em{width: 2.4em}
.w-md-25em{width: 2.5em}
.w-md-26em{width: 2.6em}
.w-md-27em{width: 2.7em}
.w-md-28em{width: 2.8em}
.w-md-29em{width: 2.9em}
.w-md-30em{width: 3em}
.w-md-31em{width: 3.1em}
.w-md-32em{width: 3.2em}
.w-md-33em{width: 3.3em}
.w-md-34em{width: 3.4em}
.w-md-35em{width: 3.5em}
.w-md-36em{width: 3.6em}
.w-md-37em{width: 3.7em}
.w-md-38em{width: 3.8em}
.w-md-39em{width: 3.9em}
.w-md-40em{width: 4em}
.w-md-41em{width: 4.1em}
.w-md-42em{width: 4.2em}
.w-md-43em{width: 4.3em}
.w-md-44em{width: 4.4em}
.w-md-45em{width: 4.5em}
.w-md-46em{width: 4.6em}
.w-md-47em{width: 4.7em}
.w-md-48em{width: 4.8em}
.w-md-49em{width: 4.9em}
.w-md-50em{width: 5em}
}
@media (min-width: 992px) {
.w-lg-0em{width: 0em}
.w-lg-1em{width: 0.1em}
.w-lg-2em{width: 0.2em}
.w-lg-3em{width: 0.3em}
.w-lg-4em{width: 0.4em}
.w-lg-5em{width: 0.5em}
.w-lg-6em{width: 0.6em}
.w-lg-7em{width: 0.7em}
.w-lg-8em{width: 0.8em}
.w-lg-9em{width: 0.9em}
.w-lg-10em{width: 1em}
.w-lg-11em{width: 1.1em}
.w-lg-12em{width: 1.2em}
.w-lg-13em{width: 1.3em}
.w-lg-14em{width: 1.4em}
.w-lg-15em{width: 1.5em}
.w-lg-16em{width: 1.6em}
.w-lg-17em{width: 1.7em}
.w-lg-18em{width: 1.8em}
.w-lg-19em{width: 1.9em}
.w-lg-20em{width: 2em}
.w-lg-21em{width: 2.1em}
.w-lg-22em{width: 2.2em}
.w-lg-23em{width: 2.3em}
.w-lg-24em{width: 2.4em}
.w-lg-25em{width: 2.5em}
.w-lg-26em{width: 2.6em}
.w-lg-27em{width: 2.7em}
.w-lg-28em{width: 2.8em}
.w-lg-29em{width: 2.9em}
.w-lg-30em{width: 3em}
.w-lg-31em{width: 3.1em}
.w-lg-32em{width: 3.2em}
.w-lg-33em{width: 3.3em}
.w-lg-34em{width: 3.4em}
.w-lg-35em{width: 3.5em}
.w-lg-36em{width: 3.6em}
.w-lg-37em{width: 3.7em}
.w-lg-38em{width: 3.8em}
.w-lg-39em{width: 3.9em}
.w-lg-40em{width: 4em}
.w-lg-41em{width: 4.1em}
.w-lg-42em{width: 4.2em}
.w-lg-43em{width: 4.3em}
.w-lg-44em{width: 4.4em}
.w-lg-45em{width: 4.5em}
.w-lg-46em{width: 4.6em}
.w-lg-47em{width: 4.7em}
.w-lg-48em{width: 4.8em}
.w-lg-49em{width: 4.9em}
.w-lg-50em{width: 5em}
}
@media (min-width: 1200px) {
.w-xl-0em{width: 0em}
.w-xl-1em{width: 0.1em}
.w-xl-2em{width: 0.2em}
.w-xl-3em{width: 0.3em}
.w-xl-4em{width: 0.4em}
.w-xl-5em{width: 0.5em}
.w-xl-6em{width: 0.6em}
.w-xl-7em{width: 0.7em}
.w-xl-8em{width: 0.8em}
.w-xl-9em{width: 0.9em}
.w-xl-10em{width: 1em}
.w-xl-11em{width: 1.1em}
.w-xl-12em{width: 1.2em}
.w-xl-13em{width: 1.3em}
.w-xl-14em{width: 1.4em}
.w-xl-15em{width: 1.5em}
.w-xl-16em{width: 1.6em}
.w-xl-17em{width: 1.7em}
.w-xl-18em{width: 1.8em}
.w-xl-19em{width: 1.9em}
.w-xl-20em{width: 2em}
.w-xl-21em{width: 2.1em}
.w-xl-22em{width: 2.2em}
.w-xl-23em{width: 2.3em}
.w-xl-24em{width: 2.4em}
.w-xl-25em{width: 2.5em}
.w-xl-26em{width: 2.6em}
.w-xl-27em{width: 2.7em}
.w-xl-28em{width: 2.8em}
.w-xl-29em{width: 2.9em}
.w-xl-30em{width: 3em}
.w-xl-31em{width: 3.1em}
.w-xl-32em{width: 3.2em}
.w-xl-33em{width: 3.3em}
.w-xl-34em{width: 3.4em}
.w-xl-35em{width: 3.5em}
.w-xl-36em{width: 3.6em}
.w-xl-37em{width: 3.7em}
.w-xl-38em{width: 3.8em}
.w-xl-39em{width: 3.9em}
.w-xl-40em{width: 4em}
.w-xl-41em{width: 4.1em}
.w-xl-42em{width: 4.2em}
.w-xl-43em{width: 4.3em}
.w-xl-44em{width: 4.4em}
.w-xl-45em{width: 4.5em}
.w-xl-46em{width: 4.6em}
.w-xl-47em{width: 4.7em}
.w-xl-48em{width: 4.8em}
.w-xl-49em{width: 4.9em}
.w-xl-50em{width: 5em}
}
@media (min-width: 1400px) {
.w-xxl-0em{width: 0em}
.w-xxl-1em{width: 0.1em}
.w-xxl-2em{width: 0.2em}
.w-xxl-3em{width: 0.3em}
.w-xxl-4em{width: 0.4em}
.w-xxl-5em{width: 0.5em}
.w-xxl-6em{width: 0.6em}
.w-xxl-7em{width: 0.7em}
.w-xxl-8em{width: 0.8em}
.w-xxl-9em{width: 0.9em}
.w-xxl-10em{width: 1em}
.w-xxl-11em{width: 1.1em}
.w-xxl-12em{width: 1.2em}
.w-xxl-13em{width: 1.3em}
.w-xxl-14em{width: 1.4em}
.w-xxl-15em{width: 1.5em}
.w-xxl-16em{width: 1.6em}
.w-xxl-17em{width: 1.7em}
.w-xxl-18em{width: 1.8em}
.w-xxl-19em{width: 1.9em}
.w-xxl-20em{width: 2em}
.w-xxl-21em{width: 2.1em}
.w-xxl-22em{width: 2.2em}
.w-xxl-23em{width: 2.3em}
.w-xxl-24em{width: 2.4em}
.w-xxl-25em{width: 2.5em}
.w-xxl-26em{width: 2.6em}
.w-xxl-27em{width: 2.7em}
.w-xxl-28em{width: 2.8em}
.w-xxl-29em{width: 2.9em}
.w-xxl-30em{width: 3em}
.w-xxl-31em{width: 3.1em}
.w-xxl-32em{width: 3.2em}
.w-xxl-33em{width: 3.3em}
.w-xxl-34em{width: 3.4em}
.w-xxl-35em{width: 3.5em}
.w-xxl-36em{width: 3.6em}
.w-xxl-37em{width: 3.7em}
.w-xxl-38em{width: 3.8em}
.w-xxl-39em{width: 3.9em}
.w-xxl-40em{width: 4em}
.w-xxl-41em{width: 4.1em}
.w-xxl-42em{width: 4.2em}
.w-xxl-43em{width: 4.3em}
.w-xxl-44em{width: 4.4em}
.w-xxl-45em{width: 4.5em}
.w-xxl-46em{width: 4.6em}
.w-xxl-47em{width: 4.7em}
.w-xxl-48em{width: 4.8em}
.w-xxl-49em{width: 4.9em}
.w-xxl-50em{width: 5em}
}