.header-cart-content-buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: auto;
	font-size: 1.2em;
	flex-shrink: 0;
}
.header-cart-content-button{
	padding: 0.2em 0.5em;
	margin:0.5em 0.2em;
	font-weight: bolder;
}