.header-search-recomend{
	visibility: hidden;
	padding:0.5em;
	z-index: 20;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	transform: translateY(-0.5em);
	background: var(--second-background);
	border: 0.1em solid var(--second-border);
	border-top-color: transparent;
	border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    transition:height 2s, transform 0.3s,visibility 0s 0.1s;
}
.header-search-recomend-title{
	width: 100%;
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
}
.header-search-recomend-item{
	display: flex;
	align-items: center;
}
.header-search-recomend-button{
	width: 100%;
	color: var(--second-color);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	opacity: 0.7;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
}
.header-search-recomend-button:hover{
	color: var(--second-color-active);
	background: var(--primary-background);
	opacity: 1;
}
.header-search-recomend-button .icon{
	font-size: 0.8em;
	opacity: 0.6;
	margin-right: 0.5em;
}
.header-search-recomend-button .label{
	display: flex;
	text-align: left;
	flex: 1;
    white-space: nowrap;
    overflow: hidden;
}
.header-search-recomend-button .text{
	display: block;
	text-align: left;
	flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-search-recomend-button .label .text{
	flex: unset;
}
.header-search-recomend.show{
	visibility: visible;
	transform:translateY(-0.2em);
	transition:height 0.3s,transform 0.3s,visibility 0s;
}