.group-slide-card-arrows{
	display: flex;
	align-items: center;
	justify-content: space-between;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.25s;
	pointer-events: none;
	transform: translateY(-50%);
}
.group-slide-card-arrow{
	width: 2em;
	height: 2em;
	font-size: 1.4em;
}
.group-slide-card-arrow.back{
	transform: translateX(-50%);
}
.group-slide-card-arrow.next{
	transform: translateX(50%);
}