#main-menu{
	background: var(--primary-hightlight-background);
}
#main-menu.active{
	z-index: 100;
	position: fixed;
	top: 0;
	box-shadow: 0 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
}
.main-menu{
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
	font-size: 1.3em;
}
.main-menu-content{
	display: flex;
	padding: 0;
	width: 100%;
	justify-content: space-around;
}

