.product-card-detail-add-to-cart{
	padding: 0.3em 1em;
	width: fit-content;
	min-width: 5em;
	max-width: 100%;
	color: var(--highlight-color);
	background: var(--highlight-background);
}
.product-card-detail-add-to-cart .icon{
	margin: 0 0.5em;
}