.contact-content{
	pointer-events: auto;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	width: 25em;
	height: 30em;
	overflow-x: hidden;
	position: fixed;
	left: calc(var(--left)*1px);
	top: calc(var(--top)*1px);
	color: var(--second-color);
	background: var(--second-background);
	border: 0.05em solid var(--second-border);
	box-shadow: -0.05em 0.05em 0 0 var(--second-shadow);
	border-radius: 0.5em;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition:opacity 0.3s ,visibility 0s 0.3s;
}
.contact-content.show{
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
	transition:opacity 0.3s;
}


.contact-content-head{
	display: flex;
	align-items: center;
}
.contact-content-title{
	font-weight: bolder;
	font-size: 1.2em;
	flex: 1;
	text-align: center;
	font-weight: bolder;
}
.contact-content-close{
	height: 2em;
	width: 2em;
	background: #f00;
	color: #fff;
	margin-left: auto;
	margin-right: 0.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.contact-content-body{
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	background: var(--primary-background);
}
.contact-content-foot{
	display: flex;
	align-items: center;
}