
.post-icon{
	color: var(--primary-color-active);
	margin: 0 0.5em;
}
.post-date{
	display: flex;
	align-items: center;
	justify-content: flex-start;
    width: auto;
    background-color: var(--primary-background);
    border: 0.001em solid var(--primary-border);
    box-shadow: 0.002em 0.002em 0 0 var(--primary-shadow);
    border-bottom-left-radius: 100em;
    border-top-right-radius: 100em;
    padding: 0.1em 1.2em;
    color: var(--primary-color);
}