.auth-more-head{
	padding: 1em 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.auth-more-title{
	position: relative;
}
.auth-more-title:before,
.auth-more-title:after{
	content: "";
	width: 50%;
    display: block;
    height: 0.02em;
    background: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.auth-more-title:before{
	right: 100%;
}
.auth-more-title:after{
	left: 100%;
}
.auth-more-body{
	display: flex;
	align-items: center;
	justify-content: center;
}
.auth-more-button{
	font-size: 1.2em;
	margin: 0 0.5em;
	padding: 0.2em 0.5em;
	color: #fff;
}
.auth-more-button .text{
	margin: 0 0.2em;
}

.auth-more-button.facebook{
	background: #4285f4;
}
.auth-more-button.google
{
	background: #ff4031;
}