.button{
	height: 1.6em;
	padding: 0.1em 0.5em;
	margin: 0 0.4em;
}
.active{
	color: var(--highlight-color);
	background: var(--highlight-background);
	border-color:0.02em solid var(--highlight-border);
	box-shadow: 0 0 0.05em 0.05em var(--highlight-shadow);
}