.main-slide-buttons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	font-size: 1.4em;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	z-index: 5;
}
.main-slide-button{
	height: 2em;
	width: 2em;
	transition: color 0.3s,opacity 0.3s;
	color: #000;
	background: #fff;
}