.header-search{
	width: 100%;
	position: relative;
	display: flex;
	font-size: 1.2rem;
}
.header-search-input{
    border-radius:1.2em;
	height: 2.4em;
	flex: 1;
	width: 100%;
	padding-left: 1.5em;
	padding-right: 3.5em;
	color: inherit;
	background: #fafafa;
	border: 0.05em solid rgba(0,0,0,0.1);
	box-shadow: 0.05em 0.05em 0 0 rgba(0,0,0,0.1);
    transition: all 0.3s;
}
.header-search-input:focus{
	z-index: 20;
	border-bottom-color: transparent;
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header-search-btn{
	pointer-events: none;
	position: absolute;
	border-radius:2em;
	top: 0.2em;
	bottom: 0.2em;
	opacity: 0.6;
}
.header-search-btn.submit{
	width: 3em;
	color: #000;
	font-weight: bolder;
	right: 0.2em;
	pointer-events: none;
}
.header-search-input:focus~.header-search-btn{
	z-index: 21;
}
.header-search-input:not(:placeholder-shown) ~ .header-search-btn{
	pointer-events: auto;
	opacity: 1;
}
