.footer-contact-btn{
	color: #eee;
}
.footer-contact-btn:hover{
	color: #fff;
}
.footer-contact-btn.facebook{
	background: #3b5998;
}
.footer-contact-btn.youtube{
	background: #ff0402;
}
.footer-contact-btn.email{
	background: #ff0402;
}
.footer-contact-btn.twitter{
	background: #1da1f2;
}
.footer-contact-btn.instagram{
	background: #fd0062;
}