#product-detail-thumbnail-dots{
	padding: 0 2em;
	border: 0.1em solid var(--second-border);

}
#product-detail-thumbnail-dots .alice-carousel__stage-item{
	cursor: pointer;
	padding: 0.2em;
}
#product-detail-thumbnail-dots .alice-carousel__stage-item>.button{
	width: 100%;
}
#product-detail-thumbnail-dots .alice-carousel__stage-item>.button.active{
	background: var(--primary-highlight-background);
}