#header{
	background: var(--primary-background);
}
#header.active{
	z-index: 100;
	box-shadow: 0 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
}
.header-button{
	margin: 0 0.2em;
	font-size: 1.2em;
	height: 2.4em;
	width: 2.4em;
	position: relative;
}