
.main-menu-dropdown-content{
	min-width: 100%;
	padding:0.5em;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0%;
	transform: translateY(-10px);
	border-radius: 0.5rem;
	z-index: 10;
	color: var(--second-color);
	background: var(--second-background);
	border: 0.05em solid var(--second-border);
	box-shadow: 0.05em 0.05em 0 0 var(--second-shadow);
	transition: transform 0.5s, visibility 0s 0.3s;
}
.main-menu-dropdown-content.active{
	transform: translateY(0px);
	visibility: visible;
	transition: transform 0.5s, visibility 0s;
}
.main-menu-dropdown-list{
	display: flex;
	flex-direction: column;
	min-width: 100%;
}
.main-menu-dropdown-item{
	display: flex;
	align-items: center;
	position: relative
}
.main-menu-dropdown-button{
	color: #000;
	border-radius: 0.2rem;
	padding: 0.2em 1em;
	white-space: nowrap;
	min-width: 100%;
	width: fit-content;
	justify-content: flex-start;
	transition: background 0.5s,color 0.5s;
}
.main-menu-dropdown-button:before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 0.2rem;
	height: 0%;
	border-radius: 1000rem;
	background: currentColor;
	transition: height 0.5s,opacity 0.5s;	
	opacity: 0;
	transform: translateY(-50%);
}
.main-menu-dropdown-button:hover{
	color: #fac100;
	background: rgba(0, 0, 0, 0.05);
}
.main-menu-dropdown-button:hover:before{
	height: 100%;
	opacity: 1;
}