.default,
.light{
	--primary-color: #000;
	--primary-color-active: #fac100;
	--primary-background: #f2f2f2;
	--primary-shadow: rgb(0 0 0 / 10%);
	--primary-border: rgb(0 0 0 / 10%);
	--primary-overlay: rgb(0 0 0 / 50%);

	--second-color: #000;
	--second-color-active: #fac100;
	--second-background: #ffffff;
	--second-shadow: rgb(0 0 0 / 10%);
	--second-border: rgb(0 0 0 / 10%);
	--second-overlay: rgb(0 0 0 / 50%);

	--highlight-color: #fff;
	--highlight-color-active: #fac100;
	--highlight-background: #fd2704;


}
.dark{
	--primary-color: #eee;
	--primary-color-active: #fff;
	--primary-background: #303030;
	--primary-shadow: rgb(250 250 250 / 20%);
	--primary-border: rgb(250 250 250 / 20%);
	--primary-overlay: rgb(250 250 250 / 50%);

	--second-color: #eee;
	--second-color-active: #fff;
	--second-background: #454545;
	--second-shadow: rgb(250 250 250 / 10%);
	--second-border: rgb(250 250 250 / 10%);
	--second-overlay: rgb(250 250 250 / 50%);

	--highlight-color: #eee;
	--highlight-color-active: #fff;
	--highlight-background: #000;
}
.blue{
	--primary-color: #000;
	--primary-color-active: #00abd6;
	--primary-background: #f2f2f2;
	--primary-shadow: rgb(0 0 0 / 10%);
	--primary-border: rgb(0 0 0 / 10%);
	--primary-overlay: rgb(0 0 0 / 50%);

	--second-color: #000;
	--second-color-active: #00abd6;
	--second-background: #ffffff;
	--second-shadow: rgb(0 0 0 / 10%);
	--second-border: rgb(0 0 0 / 10%);
	--second-overlay: rgb(0 0 0 / 50%);

	--highlight-color: #fff;
	--highlight-color-active: #fff;
	--highlight-background: #049bfd;
}