#main-slide .alice-carousel__stage-item{
	flex:  0 0 auto;
	padding: 0.2em;
}
#main-slide .slide_thumbnail{
	border-radius: 0.5em;
	overflow: hidden;
	border: 0.05em solid var(--primary-border);
	box-shadow: 0 0 0 0.1em var(--primary-shadow);
}